<!DOCTYPE html>
<html>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>
    $(function() {
        $('[name=city]').autocomplete({
          source: function(request, response) {
            var lat = $('input[name="lat"]').val();
            var lon = $('input[name="lon"]').val();

            var latlon = lat.length && lon.length && ('&' + 'latitude='+lat + '&' + 'longitude='+lon) || '';

            $.get('/suggestions?q=' + request.term + latlon, function(data) {
                response(data);
                });
          }
        }).autocomplete('instance')._renderItem = function(ul, item) {
          var li = $('<li>')
            .text(item.score + ': ' + item.name + ' (' + item.latitude + ', ' + item.longitude + ')')
            .appendTo(ul);
          li.clone().appendTo($('#debug'));
          return li;
        };
    });
</script>

<div class="ui-widget">
    <label>
        City: <input type="text" name="city" autofocus>
    </label>
    <div style="margin-top: 10px">
        <label>
            Latitude: <input type="text" name="lat" value="45.52">
        </label>
        <label>
            Longitude: <input type="text" name="lon" value="-73.58">
        </label>
        </div>
    </div>
</div>

<div id="debug"></div>

</html>
